@import '../styles/functions.scss';

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin set-typography($fs:12, $lh:16) {
	font-size: rem(#{$fs});
	line-height: rem(#{$lh});
}

@mixin breakpoint($break) {
	@media screen and (min-width:$break) {
		@content;
	}
}

@mixin breakpointmax($break) {
	@media screen and (max-width:$break) {
		@content;
	}
}