$primary-color: #e60023;
$secondary-color: #0070f3;
$font-stack: 'Poppins', sans-serif;

//Screen Sizes
$xs-screen: 320px;
$xs-small: 360px;
$mid-small: 550px;
$end-small: 1000px;
$lg-screen: 1200px;
$lgx-screen: 1480px;
$xlg-screen: 1600px;